.barContainer {
    display: flex;
    align-items: flex-end;
    height: 50%;
    width: 50%;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .barContainer {
        width: 75%;
    }
}
