.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.Title {
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: white;
    width: 100%;
    height: fit-content;
    margin: 2.5rem 0 2.5rem;
    text-decoration: underline solid;
    text-underline-offset: 5px;
}
